.benefits {
  display: flex;
  grid-area: benefits;
  max-height: 310px;
  max-width: 1600px;
  padding: 80px 0;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

  .benefits__container {
    display: flex;
    align-items: center;
  }

  .benefits__title {
    display: flex;
    max-height: 54px;
    max-width: 1176px;
    font-family: var(--f-rbold);
    font-size: 46px;
    margin-bottom: 50px;
  }

  .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 240px;
    height: 184px;
    line-height: 20px;
  }

  .benefitTitle {
    font-family: var(--f-rbold);
    font-size: 24px;
    margin-left: 15px;
    width: 240px;
    height: 28px;
    text-align: center;
  }

  .benefitText {
    font-size: 18px;
    font-family: var(--f-rlight);
    margin-left: 15px;
    text-align: center;
  }

  .leader__image {
      width: 52px;
      height: 58px;
      margin-left: 20px;      
  }

  .expert__image {
    width: 56px;
    height: 68px;
  }

  .relevance__image {
    width: 44px;
    height: 52px;
  }

  .curator__image {
    width: 52px;
    height: 56px;
  }
