.benefits {
  display: flex;
  grid-area: benefits;
  width: 100%;
  min-height: 500px;
  padding: 40px 0px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

  .benefits__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    
  }

  .benefits__title {
    max-height: 54px;
    max-width: 1176px;
    font-family: var(--f-rbold);
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    margin: 20px;
    width: 240px;
    min-height: 184px;
    line-height: 20px;
  }

  .benefitTitle {
    font-family: var(--f-rbold);
    font-size: 24px;
    margin-left: 15px;
    width: 240px;
    height: 28px;
    text-align: center;
  }

  .benefitText {
    font-size: 18px;
    font-family: var(--f-rlight);
    margin-left: 15px;
    text-align: center;
  }

  .leader__image {
      width: 52px;
      height: 58px;
      margin-left: 20px;      
  }

  .expert__image {
    width: 56px;
    height: 68px;
  }

  .relevance__image {
    width: 44px;
    height: 52px;
  }

  .curator__image {
    width: 52px;
    height: 56px;
  }


  @media (max-width: 1200px) {
    .benefits__container {
      align-items: flex-start;
      height: 350px;
    }
  
    .benefit {
      width: 276px;
      height: 274px;
      padding: 32px 24px;
      border: 1px solid var(--c-mystic);
      border-radius: 12px;
      box-sizing: border-box;
      box-shadow: 2px 2px 20px var(--c-mystic);
    }
  }
  
  @media (max-width: 360px) {
    .benefits__title {
      max-height: 42px;
      max-width: 328px;
      font-size: 36px;
      line-height: 42px;
      
    }
  }