.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 22px 32px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    line-height: 20px;
    background: var(--c-ozon-blue);
    color: var(--c-white);
    outline: none;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
}

@media (max-width: 360px) {
    .button {
        width: 100%;
        margin-right: 16px;
        margin-left: 16px;
        width: 328px;
        height: 56px;
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 320px) {
    .button {
        width: 100%;
        margin-right: 16px;
        margin-left: 16px;
        width: 288px;
        height: 56px;
        font-size: 18px;
        line-height: 24px;
    }
}

.button__forRequest {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 22px 32px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    line-height: 20px;
    background: var(--c-ozon-blue);
    color: var(--c-white);
    outline: none;
    cursor: pointer;
}

.button__forRequest:hover {
    transform: scale(1.2);
}

@media (max-width: 360px) {
    .button__forRequest {
        width: 100%;
        margin-right: 16px;
        margin-left: 16px;
        width: 328px;
        height: 64px;
        font-size: 22px;
        line-height: 20px;
        margin-top: 440px;
    }
}

@media (max-width: 320px) {
    .button__forRequest {
        width: 100%;
        margin-right: 16px;
        margin-left: 16px;
        width: 288px;
        height: 64px;
        font-size: 20px;
        line-height: 18px;
        margin-top: 440px;
    }
}

.input {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
    box-sizing: border-box;
    border: 1px solid var(--c-mystic);
    border-radius: 6px;
    font-size: 18px;
    line-height: 24px;
}

.input:focus {
    outline: none;
}

input::placeholder {
    color: var(--c-dark-space);
}

.input--valid {
    border-color: #B2BAC2;
}

.input:focus {
    box-shadow: 2px 2px 20px var(--c-mystic);
}

.select {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
    border: 1px solid var(--c-mystic);
    border-radius: 6px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    background-color: var(--c-white);
}

.select__icon--opened {
    transform: rotate(180deg);
    flex-grow: 0;
}

.select__dropdown {
    position: absolute;
    display: none;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 240px;
    box-shadow: 2px 2px 20px var(--c-mystic);
    border-radius: 6px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow-y: auto;
}

.select__dropdownItem {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #E9EFF1;
}

.select__dropdownItem:hover {
    background-color: var(--c-ozon-blue-10);
}

.select__dropdownItem--active {
    background-color: var(--c-ozon-blue-50);
}

.select__dropdownItem:last-of-type {
    border-bottom: none;
}

.request__header {
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    margin: 0 0 64px;
}

.request__form {
    max-width: 456px;
    width: 100%;
    margin-bottom: 64px;
}