.courses {
    grid-area: courses;
    width: 100%;
    display: flex; 
    max-height: 655px;
    padding: 80px 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  .courses__title {
    max-height: 54px;
    font-family: var(--f-rbold);
    font-size: 46px;
  }

  .courses__container {
    width: 100%;
    /* padding: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
  }

  .course {
    flex-shrink: 0;
    min-height: 376px;
    width: 376px;
    margin-right: 24px;
    border: 1px solid var(--c-mystic);
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px var(--c-mystic);
  }

  .course:last-child {
    margin-right: 0;
  }

  .courses__courseImage {
    height: 173px;
    width: 100%;
    background: center cover no-repeat;
  }
  
  .courses__courseImage--bs {
    background-image: url(../img/courses-first-image.jpg);
  }
  
  .courses__courseImage--py {
    background-image: url(../img/courses-second-image.jpg);
  }
  
  .courses__courseImage--fe {
    background-image: url(../img/courses-third-image.jpg);
  }

  .courseTitle {
    font-family: var(--f-rbold);
    font-size: 24px;
    margin-left: 15px;
  }

  .courseText {
    font-size: 16px;
    font-family: var(--f-rlight);
    margin-left: 15px;
  }

  .courses__courseLink {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: var(--c-ozon-blue);
    font-family: var(--f-rregular);
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 15px;
  }


  /* @media (max-width: 1200px) {
    .courses__container {
      height: 430px;
    }
  
    .course {
      width: 276px;
      height: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .courses__container {
      height: 300px;
      justify-content: flex-start;
    }

    .course {
      width: 276px;
      height: 100%;
    }
  } */
 