.courses {
  grid-area: courses;
  max-height: 500px;
  max-width: 1600px;
  padding: 40px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

  .courses__container {
    display: flex;
    align-items: center;
  }

  .courses__title {
    display: flex;
    max-height: 54px;
    max-width: 1176px;
    font-family: var(--f-rbold);
    font-size: 45px;
  }

  .course {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;
    width: 376px;
    height: 376px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 10px;
  }

  .courseTitle {
    font-family: var(--f-rbold);
    font-size: 24px;
    margin-left: 15px;
  }

  .courseText {
    font-size: 16px;
    font-family: var(--f-rlight);
    margin-left: 15px;
  }

  a {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: var(--c-ozon-blue);
    font-family: var(--f-rregular);
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 15px;
  }