@import './normalize.css';
@import './font.css';
@import './variables.css';
@import './common.css';
@import './header.css';
@import './hero.css';
@import './courses.css';
@import './benefits.css';
@import './request.css';
@import './footer.css';



.mainWrapper {
    --side-gap: 92px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    '. header .'
    '. heroMain .'
    '. courses .'
    '. heroSecond .'
    '. benefits .'
    'request request request'
    'footer footer footer';                
    grid-template-columns: var(--side-gap) 1fr var(--side-gap);
    font-family: var(--f-reg);
    color: var(--c-midnight);
}

@media (max-width: 1024px) {
    .mainWrapper {
        --side-gap: 46px;

    }
}